"*":
  "Remote-FTP":
    connector:
      autoUploadOnSave: "never"
  "atom-beautify":
    general:
      _analyticsUserId: "884d04ad-3694-4a7c-9164-74f527bb17b9"
  "autocomplete-paths":
    maxFileCount: 6000
  core:
    automaticallyUpdate: false
    closeEmptyWindows: false
    disabledPackages: [
      "vim-mode"
      "language-gfm"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/hhonda/Sites"
    telemetryConsent: "no"
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "f3127cfc-56ec-a412-037b-857946ec2fd9"
  "git-plus":
    general:
      _analyticsUserId: "8b0274a1-7ddc-40f2-bcff-08703563425a"
  "highlight-line":
    enableSelectionBorder: true
  linter: {}
  "linter-ui-default": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "sass-autocompile": {}
  "split-diff":
    ignoreWhitespace: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  welcome:
    showOnStartup: false
