[
  {
    title: "join-biglobe"
    paths: [
      "/Users/hhonda/Sites/BIGLOBE/join-biglobe"
    ]
  }
  {
    title: "join-static-page"
    paths: [
      "/Users/hhonda/Sites/BIGLOBE/join-static-page"
    ]
  }
  {
    title: "CoffeShop - htdocs"
    paths: [
      "/Users/hhonda/Sites/CoffeeShop/htdocs"
    ]
  }
  {
    title: "lte-static-page-html"
    paths: [
      "/Users/hhonda/Sites/BIGLOBE/lte-static-page/"
    ]
  }
  {
    title: "ninjasim"
    paths: [
      "/Users/hhonda/Sites/BIGLOBE/ninja-sim"
    ]
  }
  {
    title: "RJB"
    paths: [
      "/Users/hhonda/Sites/RJB"
    ]
  }
]
